.filters label {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

input{
    background-color: rgba(200, 0, 255, 0.286);
    color: rgb(255, 255, 255);
}

.filters label input {
    display: none;
}

.filters label:has(:checked) {
    border-color: rgb(255, 0, 247);
}

.todo-list li .toggle:checked + label {
    color: #6f00ff;
    text-decoration: line-through;
}

.todo-list.completed li:not(.completed) {
    display: none;
}

.todo-list.active li.completed {
    display: none;
}

.todo-list li.completed label {
    background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E);
    color: #a200ff;
    text-decoration: line-through;
}

.todoapp {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0px 20px 20px 10px rgb(233 0 255), 0px 0px 20px 10px rgb(159 0 255);
    border-radius: 20px;
}

.todoapp h1 {
    position: absolute;
    top: -155px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgb(243 0 255 / 15%);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.new-todo {
    padding: 16px 16px 16px 60px;
    border: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0px 0px 10px 7px rgb(0 229 255 / 21%);
}

.main {
    position: relative;
    z-index: 2;
    /* border-top: 1px solid #5700ff; */
    border-radius: 20px;
}

.todo-list li .destroy {
    /* display: none; */
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #ff00fd;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #7200ff;
    border-radius: 20px;
}

.footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 20px 20px 10px rgb(255 255 255 / 50%), 0 8px 10px 0px #00c6ff, 0px 15px 10px 0px rgb(255 255 255), 0px 20px 10px 0px #00ffcd, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

